
<%= f.fields_for :profile do |f| %>
<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :age %>
  <%= f.number_field :age, min: 0, max:100 %>
   </div>

  <div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
<% end %>

